<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="GFEClient.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
    <section name="janrain" type="Flame.Accounts.JanrainSection, Flame.Accounts, Version=1.0.0.0, Culture=neutral, PublicKeyToken=73a0bb510a53fb51" />
  </configSections>

      <janrain
  apiBaseUri="https://accountsapi.nvidia.com"
  socialLoginBaseUri="https://accounts.nvidia.com"
  flowName="standard_api_client"
  flowVersion="3e22e69a-7b12-47fb-b35e-0b9fd77500a7"
  defaultLocale="en-US"
  loginClientId="nsxvd4f6zdux72rxex7pz2p9tjs6tgsk"
  loginClientSecret="ghzbngykwxepddh3v6pxt7fbfdvaxwu3"
  accessTokenExpirationSeconds="3600"/>
  
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <log4net>
    <appender name="DefaultGfeLog" type="log4net.Appender.RollingFileAppender">
      <file type="log4net.Util.PatternString">
      	<converter>
        	<name value="COMMONAPPLICATIONDATAFOLDER" />
        	<type value="GFEClient.CommonAppDataPathConverter" />
      	</converter>
      	<conversionPattern value="%COMMONAPPLICATIONDATAFOLDER/NVIDIA Corporation/GeForce Experience/Logs/GfeClientLog.log" />
      </file>
      <appendToFile value="true" />
      <rollingStyle value="Size" />
      <datePattern value="yyyy_MM_dd" />
      <maxSizeRollBackups value="10" />
      <maximumFileSize value="1MB" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger - %message | %timestamp%newline"/>
      </layout>
      <!-- Log only warnings and above -->
      <filter type="log4net.Filter.LevelRangeFilter">
        <param name="LevelMin" value="WARN"/>
      </filter>
    </appender>

    <root>
      <level value="ALL"/>
      <appender-ref ref="DefaultGfeLog"/>
    </root>
  </log4net>
  <userSettings>
    <GFEClient.Properties.Settings>
      <setting name="ApplicationHeight" serializeAs="String">
        <value>720</value>
      </setting>
      <setting name="ApplicationWidth" serializeAs="String">
        <value>1200</value>
      </setting>
      <setting name="UpgradeSettings" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ApplicationTop" serializeAs="String">
        <value>200</value>
      </setting>
      <setting name="ApplicationLeft" serializeAs="String">
        <value>250</value>
      </setting>
      <setting name="ApplicationWindowState" serializeAs="String">
        <value>Normal</value>
      </setting>
      <setting name="LastTabIdx" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="OptimizeTabVerticalSplitterPosition" serializeAs="String">
        <value>275</value>
      </setting>
      <setting name="OptimizeTabHorizontalSplitterPositionTop" serializeAs="String">
        <value>300</value>
      </setting>
      <setting name="GridUserId" serializeAs="String">
        <value/>
      </setting>
      <setting name="GridUserAge" serializeAs="String">
        <value>18</value>
      </setting>
      <setting name="GridServer" serializeAs="String">
        <value/>
      </setting>
      <setting name="Password" serializeAs="String">
        <value/>
      </setting>
      <setting name="GridAuthenticationRequired" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="GridAuthServer" serializeAs="String">
        <value/>
      </setting>
      <setting name="HasClientExecutedBefore" serializeAs="String">
        <value>False</value>
      </setting>
    </GFEClient.Properties.Settings>
  </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Practices.Unity" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.1.505.0" newVersion="2.1.505.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
